<!-- overrides/partials/comments.html -->

{% if not page.meta.hide_comment %}
<br />
<div id="twikoo-comments"></div>
{% endif %}

{% block scripts %}
<script>
// 浏览器解析完 HTML 文档后（DOM 就绪），触发 DOMContentLoaded 事件
document.addEventListener('DOMContentLoaded', () => {
    const el = document.getElementById('twikoo-comments');
    if (!el) return;

    const script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/npm/twikoo@1.6.43/dist/twikoo.min.js';
    script.onload = () => {
        twikoo.init({
            envId: 'https://twikoo-jaywhj.netlify.app/.netlify/functions/twikoo',
            el: '#twikoo-comments',
            path: location.pathname,
            // lang: 'en',
        });
    };
    document.body.appendChild(script);
});
</script>
{% endblock %}