

.homepage-header {
   text-align: center;
   margin-bottom: 2em;
}

.homepage-subheading {
   color: var(--md-default-fg-color--light);
   font-size: 1.5625em;
   font-weight: 300;
   line-height: 1.4;
   margin-bottom: 0.75em;
}

/* 目录导航的缩进参考线 */
nav.md-nav--secondary ul {
  border-left: 1px solid lightblue;
}

.md-main h2 {
   color: #0077cc;
}