
/* 多列布局 - 根据内容自适应列数 */

/* flex layout */

.container-flex {
    display: flex;
    text-align: left;
    gap: 2vw;
}
.flex-col {
    flex: 1;
}


/* grid layout */

.container-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    gap: 2vw;
    margin-bottom: var(--content-padding-bottom);
    text-align: left;
}


/* table layout */

.container-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: left;
    .table-col {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding: 2% 0 2% 3%;
        &:first-of-type { padding-left: 0; }
    }
}

